:root {
  --container-border-radius: 12px;
  --font-family: 'Poppins', sans-serif;
  --button-background: #2f80ed;
  --button-border-radius: 8px;
  --button-height: 31px;
  --button-color: #ffffff;
  --button-font-family: 'Noto Sans', sans-serif;
  --button-border: none;
  --button-cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--container-border-radius);
  width: 400px;
}
